*.swp
coverage
node_modules
browser/tests.js
docs/api

CONTRIBUTING.html
LICENSE.html
README.html
examples.html
npm-debug.log

apiref
bower_components
report
.DS_Store


htmlcore.js
htmlcore.min.js
htmlcore.js.sig
htmlcore.min.js.sig
tests.js
